<%
=begin%>
 <tr >
  <td><div><%= f.number_field :quantity %></div></td>
  <td><div><%= f.select :category, Category.all.map { |category| category.name } %></div></td>
  <td><div><%= f.select :itemType, Item.all.map{ |item| item.itemType } %></div></td>
  <td><div><%= f.select :size, Item.all.map{ |item| item.size } %></div></td>
  <td><button type="button"><div><%= link_to_remove_association "Remove", f %></div></button></td>
</tr> 
<%
=end%>

<div><%= f.number_field :quantity %></div>
<div><%= f.select :category, Category.all.map { |category| category.name } %></div>
<div><%= f.select :itemType, Item.all.map{ |item| item.itemType } %></div>
<div><%= f.select :size, Item.all.map{ |item| item.size } %></div>
<div><%= link_to_remove_association "Remove", f %></div></button>