<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @donation.full_name %>, </p>
    <p>Thank you for placing a donation request with Carrie's Closet!</p>
    <p>
      This message is to confirm that we received your request. We will contact you within a week to 
      arrange a dropoff time.
    </p>
    <p>
      If you have any inquiries, you can reach us at https://carriesclosetofga.org/contact-us.
    </p>
    <h4>
    Donation Details<br>
    </h4>
    <h4>==============================</h4>
    <p>Name: <%= @donation.full_name %></p>
    <p>Email: <%= @donation.email %></p>
    <p>County: <%= Donation::COUNTIES.key(@donation.county) %></p>
    <p>Pickup Location: <%= @donation.address.empty? ? 'County DFCS Office' : 'My Address' %></p>
    <p>Address (if applicable): <%= @donation.address %></p>
    <p>Phone: <%= @donation.phone %></p>
    <p>Availability: <%= @donation.availability %></p>
    <p>Items: <%= @donation.items %></p>
    <p>Comments: <%= @donation.comments %></p>
    <h4>==============================</h4>
    <p>Thank you!</p>
    <p>Sincerely, </p>
    <p>Carrie's Closet Team</p>
  </body>
</html>