<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @request.full_name %>, </p>
    <p>Thank you for placing a donation request with Carrie's Closet!</p>
    <p>
      This message is to confirm that we received your request. We will contact you within a week to 
      arrange a pickup time.
    </p>
    <p>
      If you have any inquiries, you can reach us at https://carriesclosetofga.org/contact-us.
    </p>
    <h4>
    Request Details<br>
    </h4>
    <p>==========================================================================</p>
    <p>Name: <%= @request.full_name %></p>
    <p>Email: <%= @request.email %></p>
    <p>Relationship to Donee: <%= @request.relationship %></p>
    <p>County: <%= @request.county %></p>
    <p>Pickup Location: <%= @request.meet %></p>
    <p>Address (if applicable): <%= @request.address %></p>
    <p>Phone: <%= @request.phone %></p>
    <p>Availability: <%= @request.availability %></p>
    <p>Comments: <%= @request.comments %></p>
    <p>==========================================================================</p>
    <p>Thank you!</p>
    <p>Sincerely, </p>
    <p>Carrie's Closet Team</p>
  </body>
</html>