<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, </p>
    <p>This message is to notify you of a new donation request from Carrie's Closet of GA.</p>
    <p>
      The request details are provided below.
    </p>
    <p>You are signed up to recieve donation request notifications from Carrie's Closet. You can change these setting by logging
    into your account at Carrie's Closet of GA.</p>
    <h4>
    Request Details<br>
    </h4>
    <h4>==============================</h4>
    <p>Name: <%= @request.full_name %></p>
    <p>Email: <%= @request.email %></p>
    <p>Urgency: <%= Request::URGENCIES.key(@request.urgency) %></p>
    <p>Relationship to Donee: <%= Request::RELATIONSHIPS.key(@request.relationship) %></p>
    <p>County: <%= Request::COUNTIES.key(@request.county) %></p>
    <p>Pickup Location: <%= @request.address.empty? ? 'County DFCS Office' : 'My Address' %></p>
    <p>Address (if applicable): <%= @request.address %></p>
    <p>Phone: <%= @request.phone %></p>
    <p>Availability: <%= @request.availability %></p>
    <p><strong>Items:</strong>
      <%@request.item_changes.each do |item|%>
        <p><%= item.quantity %> <%= Category.find(item.category_id).name %> <%= item.itemType %>, size: <%= item.size %></p>
      <%end%>
    </p>
    <p>Comments: <%= @request.comments %></p>
    <h4>==============================</h4>
    <p>Thank you!</p>
    <p>Sincerely, </p>
    <p>Carrie's Closet Team</p>
  </body>
</html>