
<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :admin %>
    <%= f.check_box :admin, autocomplete: "admin" %>
  </div>
  <div class="field">
    <%= f.label :volunteer %>
    <%= f.check_box :volunteer, autocomplete: "volunteer" %>
  </div>
  <div class="field">
    <%= f.label :donor %>
    <%= f.check_box :donor, autocomplete: "donor" %>
  </div>
  <div class="field">
    <%= f.label :donee %>
    <%= f.check_box :donee, autocomplete: "donee" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Delete this account</h3>

<%= button_to 'Destroy', @user, method: :delete , data: {confirm: 'Are you sure you want to delete this user?' } %>

<%= link_to "Back", :back %>
