<h2>Manage All Users</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th>Volunteer</th>
      <th>Donee</th>
      <th>Donor</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin ? "yes" : "no" %></td>
        <td><%= user.volunteer ? "yes" : "no" %></td>
        <td><%= user.donee ? "yes" : "no" %></td>
        <td><%= user.donor ? "yes" : "no"  %></td>
        <td><%= link_to 'Edit', "/users/edit" %></td>
        <td><%= link_to 'Delete', users_manage_path %></td>
        <td><%= button_to 'Destroy', users_manage_path, method: :destroy, data: { confirm: 'Are you sure?' }, class: "button-looks-like-link" %></td>
      </tr>
    <% end %>

  </tbody>
</table>


