<h2>Manage All Users</h2>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Admin</th>
      <th>Volunteer</th>
      <th>Donee</th>
      <th>Donor</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= user.volunteer %></td>
        <td><%= user.donee %></td>
        <td><%= user.donor %></td>
        <td><%= link_to 'Edit', root_path %></td>
        <td><%= link_to 'Delete', root_path %></td>

      </tr>
    <% end %>

  </tbody>
</table>


