<div class="field">
  <%= form.label :items, 'What items would you like to request?' %>
  <table>
    <thead>
    <tr>
      <th>Quantity</th>
      <th>Category</th>
      <th>Item Type</th>
      <th>Size</th>
    </tr>
    </thead>

    <tbody>
      <%= form.fields_for :items do |item_form| %>
        <tr>
          <td><%= item_form.check_box :_destroy %></td>
          <td><%= item_form.number_field :quantity %></td>
          <td><%= item_form.select :category, Category.all.map { |category| category.name } %></td>
          <td><%= item_form.select :size, Item.all.map{ |item| item.size } %></td>
          <td><%= item_form.select :itemType, Item.all.map{ |item| item.itemType } %></td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>