<div class="container">
<div class="margins-needed">
<h1>Request a Donation: Summary</h1>
<h2>Please review and confirm the summary of your request:</h2>

<p>
  <strong>Urgency:</strong>
  <%= Request::URGENCIES.key(@request.urgency) %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @request.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request.phone %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= Request::RELATIONSHIPS.key(@request.relationship) %>
</p>


<% if @request.meet %>
  <p>
    <strong>County:</strong>
    <%= Request::COUNTIES.key(@request.county) %>

  </p>
<% else %>
  <p>
    <strong>Address:</strong>
    <%= @request.address %>
  </p>
<% end %>

<p>
  <strong>Availability:</strong>
  <%= @request.availability %>
</p>

<p>
  <strong>Requested Items:</strong>
  <% @request.item_changes.each do |item|%>
    <p><%= item.quantity %> <%= Category.find(item.category_id).name %> <%= item.itemType %>, size: <%= item.size %></p>
  <%end%>
  
</p>

<p>
  <strong>Comments:</strong>
  <%= @request.comments %>
</p>

<% if current_user&.volunteer? %>
  <strong>Order Status:</strong>
  <%= @request.status.titleize %>
  <br>
<% end %>

<% if current_user&.volunteer? && @request.status == "pending" %>
  <%= link_to "Mark Ready for Delivery", requests_next_status_path(@request), class: "home-link" %>
  <br>
<% end %>

  
<h1>Contact the donee!</h1>
<i>Remember to contact the donee before you go to let them know when to meet and make sure they're still available.</i>
<p>
  <strong>Full name:</strong>
  <%= @request.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request.phone %>
</p>

<% if @request.meet %>
  <p>
    <strong>County:</strong>
    <%= Request::COUNTIES.key(@request.county) %>

  </p>
<% else %>
  <p>
    <strong>Address:</strong>
    <%= @request.address %>
  </p>
<% end %>

<p>
  <strong>Availability:</strong>
  <%= @request.availability %>
</p>

<% if current_user&.volunteer? && @request.status == "delivery_ready" %>
  <%= link_to "Mark Order Complete", requests_next_status_path(@request), class: "home-link" %>
  <br>
<% end %>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', :back %>
</div>
</div>