<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @donation.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donation.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @donation.phone %>
</p>

<% if @donation.meet %>
  <p>
    <strong>County:</strong>
    <%= Request::COUNTIES.key(@donation.county) %>
  </p>
<% else %>
  <p>
    <strong>Address:</strong>
    <%= @donation.address %>
  </p>
<% end %>

<p>
  <strong>Availability:</strong>
  <%= @donation.availability %>
</p>

<p>
  <strong>Items:</strong>

  <%@donation.item_changes.each do |item|%>
     <p><%= item.quantity %> <%= Category.find(item.category_id).name %> <%= item.itemType %>, size: <%= item.size %></p>
  <%end%>

</p>

<p>
  <strong>Comments:</strong>
  <%= @donation.comments %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
