<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Item Name" %>
    <%= form.text_field :name %>
  </div>

  <div class="inline-options">
    <%= form.label :versions, "Categories" %>
    <%= collection_check_boxes(:item, :versions, Category.all, :id, :name) do |b| %>
      <%= b.label class: "label-checkbox" do%>
        <%= b.check_box(checked: !item.category_named(b.text).nil?) + b.text %>
      <%end%>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>