<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.itemType %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<div class = "centered-div">
  <%= link_to "View Inventory", "/items", class: "home-link" %>
</div>
