<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<h3>Versions (<%= @item.versions.count %>)</h3>
<% @item.versions.each do |version| %>
  <p>Category: <%= version.category %></p>
  <p>Quantity: <%= version.quantity %></p>
  <p>Size: <%= version.size %></p>
<% end %>
<hr />

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
<div class = "centered-div">
  <%= link_to "View Inventory", "/items", class: "home-link" %>
</div>
