
<div>
  

    <% if current_user != nil and current_user.admin? %>
      <div class = "centered-div">
        <%= link_to "All Requests", "requests/", class: "home-link" %>
      </div>
      <br />
      <div class = "centered-div">
        <%= link_to "All Pending Donations", root_path, class: "home-link" %>
      </div>
      <br />
      <div class = "centered-div">
        <%= link_to "View Inventory", "items", class: "home-link" %>
      </div>
      <br />
      <div class = "centered-div">
        <%= link_to "Add Item Type", "items/new", class: "home-link" %>
      </div>
      <br />
    <% end %>
    <% if current_user != nil %>
    <div class = "centered-div">
    <%= link_to "My Requests", "requests/my_requests", class: "home-link" %>
    </div>
    <br>
  <% end %>

  <div class = "centered-div">
  <%= link_to 'Request Clothing and Hygiene Items', new_request_url, class: "home-link"%>
  </div>
  <br>
  <div class = "centered-div">
  <%= link_to "Donate Items", root_path, class: "home-link" %>
  </div>
  <br>
  <div class = "centered-div">
  <%= link_to "Volunteer", root_path, class: "home-link" %>
  </div>
  <br>
  <div class = "centered-div">
  <%= link_to "Support Our Cause", root_path, class: "home-link" %>
  </div>
  <div class = "centered-div">
    <p class="contact-info">Contact Information:<br>carrie.closets@gmail.com</p>
  </div>
</div>