<!DOCTYPE html>
<html>
  <head>
    <title>Carrie's Closet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />
  </head>

  <body>
    <nav>
      <div class="nav-bar">
      <%= link_to image_tag("back.png", class:"navbar-element"), :back, {:style=>'padding-left: 5px;', :class => "navbar-element"} %>
      <%= image_tag 'logo.png', class:"navbar-element" %>
      <%= link_to image_tag("home.png", class:"navbar-element"), root_url, {:style=>'padding-right: 5px;', :class => "navbar-element"} %>
      </div>

      <div class="pure-g account-bar container">
        <% if current_user.nil? %>
          <div class="pure-u-1-2">
            <%= link_to 'Log In', new_user_session_url, class:"small-link-button" %>
          </div>
          <div class="pure-u-1-2">
            <%= link_to 'Sign Up', new_user_registration_url, class:"small-link-button" %>
          </div>
        <% else %>
          <div class="pure-u-md-16-24 pure-u-1-1 account"><%= current_user.email %></div>
          <div class="pure-u-md-4-24 pure-u-1-2">
            <%= link_to 'Edit Account', edit_user_registration_url  %>
          </div>
          <div class="pure-u-md-4-24 pure-u-1-2">
            <%= link_to 'Log Out', destroy_user_session_url %>
          </div>
        <% end %>
      </div>
    </nav>
    <span class="padding-for-nav-bar">&nbsp;</span>
    
    <%= yield %>
  </body>
</html>
