<!DOCTYPE html>
<html>
  <head>
    <title>Carrie's Closet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
    
  </head>

  <body>
    <nav>
      <div class="nav-bar">
      <%= link_to image_tag("back.png", class:"navbar-element"), :back, {:style=>'padding-left: 5px;', :class => "navbar-element"} %>
      <%= image_tag 'logo.png', class:"navbar-element" %>
      <%= link_to image_tag("home.png", class:"navbar-element"), root_url, {:style=>'padding-right: 5px;', :class => "navbar-element"} %>
      </div>
      <br>
      <% if current_user.nil? %>
        
        <%= link_to 'Log In', new_user_session_url, class:"small-link-button" %>
        <%= link_to 'Sign Up', new_user_registration_url, class:"small-link-button" %>
      <% else %>
        <%= current_user.email %> |
        <%= link_to 'Edit Account', edit_user_registration_url %> |
        <%= link_to 'Log Out', destroy_user_session_url %>
      <% end %>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
